.description {
    text-align: left;
    display: inline-block;
    margin: auto;
    line-height: 1.8;
    color: #333; /* Text color */
    font-family: Arial, sans-serif;
}

.description a {
    color: #007acc;
    text-decoration: none;
}

.description a:hover {
    text-decoration: underline;
}
